@font-face {
	font-family: manrope;
	src: url("./assets/fonts/Manrope-VariableFont_wght.ttf");
}

/* ------------------- */
/* ANCHOR Custom properties   */
/* ------------------- */

:root {
	/* colors */
	--clr-dark: 230 35% 7%;
	--clr-light: 231 77% 90%;
	--clr-white: 0 0% 100%;
	--clr-orange: 22, 65%, 57%;

	/* font-sizes */
	--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
	--fs-800: 3.5rem;
	--fs-700: 1.5rem;
	--fs-600: 1rem;
	--fs-500: 1rem;
	--fs-400: 0.9375rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;
}

@media (min-width: 35em) {
	:root {
		--fs-800: 5rem;
		--fs-700: 2.5rem;
		--fs-600: 1.5rem;
		--fs-500: 1.25rem;
		--fs-400: 1rem;
	}
}

@media (min-width: 45em) {
	:root {
		/* font-sizes */
		--fs-800: 6.25rem;
		--fs-700: 3.5rem;
		--fs-600: 2rem;
		--fs-500: 1.75rem;
		--fs-400: 1.125rem;
	}
}

/* ------------------- */
/* ANCHOR Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

a {
	text-decoration: none;
	color: hsl(var(--clr-white));
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

/* set up the body */
body {
	font-family: manrope;
	font-size: var(--fs-400);
	color: hsl(var(--clr-white));
	background-color: hsl(var(--clr-dark));
	line-height: 1.5;
	min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
	font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ------------------- */
/* ANCHOR Utility classes     */
/* ------------------- */

/* general */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.width100 {
	width: 100%;
}

.width30 {
	width: 30%;
}

.spaceBetween {
	justify-content: space-between;
}

.spaceAround {
	justify-content: space-around;
}

.alignItemsCenter {
	align-items: center;
}

.width80 {
	width: 80%;
}

.height100 {
	height: 100%;
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.center {
	width: 80%;
	margin: 0 auto;
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

/* ANCHOR colors */

.bg-dark {
	background-color: hsl(var(--clr-dark));
}
.bg-accent {
	background-color: hsl(var(--clr-light));
}
.bg-white {
	background-color: hsl(var(--clr-white));
}

.text-dark {
	color: hsl(var(--clr-dark));
}
.text-accent {
	color: hsl(var(--clr-light));
}
.text-white {
	color: hsl(var(--clr-white));
}

/* ANCHOR typography */

.bold {
	font-weight: bold;
}

.ff-serif {
	font-family: var(--ff-serif);
}
.ff-sans-cond {
	font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

/* ------------------- */
/* ANCHOR Components         */
/* ------------------- */

.tab-list {
	--gap: 2rem;
}

body {
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
}

/* ----------------------------- */
/* ANCHOR Layout                        */
/* ----------------------------- */

.grid-container {
	text-align: center;
	display: grid;
	place-items: center;
	padding-inline: 1rem;
	padding-bottom: 4rem;
}

.grid-container--home p {
	max-width: 50ch;
}

.numbered-title {
	grid-area: title;
}

.height10vh {
	height: 10vh;
}

/* ANCHOR HEADER */

.borderBottom {
	position: absolute;
	width: 80%;
	height: 1px;
	top: 10vh;
	background: var(--clr-white);
	mix-blend-mode: normal;
	opacity: 0.2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hoverColor:hover {
	color: hsl(var(--clr-orange));
}

@media (max-width: 1024px) {
	.hideOnTablet {
		display: none;
	}
	.hamburger {
		font-size: 2em;
	}
	.marginRight1em {
		margin-right: 1em;
	}
	.companyName {
		width: 80%;
	}
}

@media (max-width: 768px) {
	.hamburger {
		font-size: 1.5em;
	}
	.marginRight1em {
		margin-right: 0;
	}
	.companyName {
		width: 30%;
	}
}

@media (min-width: 1024px) {
	.hideOnDesktop {
		display: none;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: hsl(var(--clr-dark));
	color: hsl(var(--clr-white));
}

.header-nav {
	display: flex;
}

.header-nav-item {
	margin-left: 20px;
	color: hsl(var(--clr-white));
	text-decoration: none;
}

/* ANCHOR LANDINGPAGE */

.landingPageWelcomeText {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	left: 10%;
	width: 35%;
	min-height: 50vh;
}

.landingPageWelcome {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center center;
	display: flex;
	align-items: center;
}

.textTitle {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: hsl(var(--clr-white));
	mix-blend-mode: normal;
	opacity: 0.5;
}

.textMain {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 700;
	font-size: 4em;
	text-transform: uppercase;
	color: hsl(var(--clr-white));
}

.textDescription {
	left: 0%;
	right: 12.31%;
	top: 52.89%;
	bottom: 25.43%;

	font-family: "Manrope";
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 25px;
	/* or 167% */
	color: hsl(var(--clr-white));
	mix-blend-mode: normal;
	opacity: 0.75;
}

.buttonLanding {
	width: 13em;
	height: 4em;
	left: 165px;
	top: 225px;
	background: hsl(var(--clr-orange));
	color: hsl(var(--clr-white));
	text-transform: uppercase;
	border: none;
}

@media (max-width: 1024px) {
	.landingPageWelcome {
		background-image: url(/src/assets/home/tablet/image-header.jpg);
	}
	.landingPageWelcomeText {
		width: 80%;
		margin: 0 auto;
		left: 0;
		text-align: center;
	}
	.buttonCenter {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.landingPageWelcome {
		background-image: url(/src/assets/home/mobile/image-header.jpg);
		background-size: contain;
	}
}

@media (min-width: 1024px) {
	.landingPageWelcome {
		background-image: url(/src/assets/home/desktop/image-hero.jpg);
		height: 90vh;
	}
}
